html{
    font-size: 30px
}

body{
    
    background-color: #ffffff;
    color: #a20808;
}

.p1{
    font-family: "Courier New", "monospace";
}
.p2 {
    font-family: Helvetica, Arial, sans-serif;
  }
.p3 { 
	font-family: "Playfair Display"; 
}

a{
    color: #a20808;
}
a:hover, a:active{
    color:#a20808;
}

div {
    display: flex;
    justify-content: center;
}
h2 { 
    text-align: center 
}
h1 { 
    text-align: center 
}
p{
  margin: 100px; 
  text-align: justify;
  
}
ul{
  margin: 100px; 
}
	
	

