html{
    font-size: 30px
}

body{
    
    background-color: #000000;
    color: #08a219;
}

.p1{
    font-family: "Courier New", "monospace";
}
.p2 {
    font-family: Helvetica, Arial, sans-serif;
  }
.p3 { 
	font-family: "Playfair Display"; 
}

a{
    color: #08a219;
}
a:hover, a:active{
    color:rgb(189, 193, 198);
}

div {
    display: flex;
    justify-content: center;
}
h2 { 
    text-align: center 
}
h1 { 
    text-align: center 
}

